*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif ;
}
body{
    background-color: #250057;
}
.input-box{
    background: white;
    width: 90%;
    max-width: 500px;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 300px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.input-box input{
    width: 100%;
    padding: 10px 0;
    border: 0;
    outline: 0;
    font-size: 24px;
    color: #555;
}
.input-box img{
    cursor: pointer;
    width: 35px;
}